.css {
	header nav .logo a {
		background-image: url('../images/global/header/sprites/css.png') at-2x;
	}

	section:nth-child(2) {
		.content {
			padding: 30px 0;

			article {
				@include span-columns(5);
				@include shift(1);

				background-color: #eee;
				border-left: 25px solid #32bea6;
				border-radius: 5px;

				padding: 20px;

				height: 100%;

				@include media($tablet) {
					@include span-columns(5);
					@include shift(0);
				}

				@include media($mobile) {
					@include span-columns(4);
					@include shift(0);

					background-image: url('../images/css/framework.png');
					background-size: 64px 64px;
					background-repeat: no-repeat;
					background-position: right 10px top 10px;
				}

				@include blockquote($light: true) {
					margin-top: 20px;
				}
			}
			aside {
				@include span-columns(5);

				background-image: url('../images/css/framework.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				height: 100%;
				min-height: 256px;

				@include media($tablet) {
					@include span-columns(3);
				}
				@include media($mobile) {
					display: none;
				}
			}
		}
	}
	section:nth-child(3) {
		background-color: #eee;

		padding: 30px 0;

		@include media($mobile) {
			background-color: white;
		}

		.content {
			aside {
				@include span-columns(5);
				@include shift(1);

				background-image: url('../images/css/settings.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				height: 100%;
				min-height: 256px;

				@include media($tablet) {
					@include span-columns(3);
					@include shift(0);
				}
				@include media($mobile) {
					display: none;
				}
			}
			article {
				@include span-columns(5);

				background-color: white;
				border-left: 25px solid #25b7d3;
				border-radius: 5px;

				padding: 20px;

				@include media($tablet) {
					@include span-columns(5);
					@include shift(0);
				}
				@include media($mobile) {
					@include span-columns(4);
					background-color: #eee;

					background-image: url('../images/css/settings.png');
					background-size: 64px 64px;
					background-repeat: no-repeat;
					background-position: right 10px top 10px;
				}

				dl {
					@include span-columns(6 of 6);
					
					dt {
						@include span-columns(3 of 6);

						margin-bottom: 10px;
						clear: both;
					}
					dd {
						@include span-columns(2 of 6);
					}

					@include clear-element;
				}
			}
		}
	}
	section:nth-child(4) {
		.content {
			padding: 30px 0;

			article {
				@include span-columns(5);
				@include shift(1);

				background-color: #eee;
				border-left: 25px solid #e04f5f;
				border-radius: 5px;

				padding: 20px;

				@include media($tablet) {
					@include span-columns(5);
					@include shift(0);
				}
				@include media($mobile) {
					@include span-columns(4);
					@include shift(0);

					background-image: url('../images/css/break-points.png');
					background-size: 64px 64px;
					background-repeat: no-repeat;
					background-position: right 10px top 10px;
				}

				dl {
					@include span-columns(6 of 6);

					@include omega(2n);
					
					dt {
						@include span-columns(1 of 6);

						margin-bottom: 10px;
						clear: both;
					}
					dd {
						@include span-columns(5 of 6);

						margin-right: 0;
					}

					@include clear-element;
				}			
			}
			aside {
				@include span-columns(5);

				background-image: url('../images/css/break-points.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				height: 100%;
				min-height: 256px;

				@include media($tablet) {
					@include span-columns(3);
					@include shift(0);
				}
				@include media($mobile) {
					display: none;
				}
			}
		}
	}
}